.home{background:#FFF url('./img/bg_tree.png') center/5rem;height:100%;}
.header{height:1rem;}
.header nav{float:left;width:.9375rem;text-align:center;cursor:pointer;}
.header nav>*{display: block;}
.header nav>img{width:.5rem;height:.5rem;border-radius:.5rem;margin:.1rem auto;border-radius:.5rem;border:.01rem solid #999;}


.article h6{width:2rem;background:#FA0;margin:.1rem auto;height:.3rem;line-height:.3rem;font-size:.25rem;text-align:center;
	font-weight:300;position:relative;}
.article h6 img{width:.3rem;height:.3rem;position:absolute;left:-.1rem;top:0;-webkit-transform:scale(1.5);}


.tree{width:3.75rem;height:3rem;margin:.1rem auto;background-image:url(./img/tree.png);background-repeat:no-repeat;background-position:0rem 0rem;background-size:7.5rem;}
.tree-1{background-position:0rem 0rem;}
.tree-2{background-position:-3.75rem 0rem;}
.tree-3{background-position:0rem -3rem;}
.tree-4{background-position:0rem -3rem;}
.tree-5{background-position:0rem -3rem;}
.tree-6{background-position:0rem -3rem;}


.tree-btn{height:1rem;}
.tree-btn nav{float:left;width:.9375rem;text-align:center;cursor:pointer;}
.tree-btn nav:nth-child(2){float:right;}
.tree-btn nav>*{display: block;}
.tree-btn nav>img{width:.5rem;height:.5rem;border-radius:.5rem;margin:.1rem auto;border-radius:.5rem;border:.01rem solid #999;}

.footer{min-height:1rem;background:rgba(0,0,0,.5);}
.footer ul{padding-top:.1rem;}
.footer ul li{width:3.55rem;margin:0 .1rem 0 .1rem;background:#FFF;border-radius:.5rem;height:.3rem;line-height:.3rem;text-indent:.2rem;}
.footer ul li>*{float:left;}
.footer ul li img{width:.26rem;height:.26rem;margin:.02rem;border-radius:.3rem;margin-left:.1rem;}
.footer ul li i{font-style:normal;color:#FA0;}
.footer ul li b{font-style:normal;color:#F33;}

