.money-layer{position:fixed;width:100%;height:100%;z-index:999;background:rgba(0,0,0,0.7);left:0;top:0;}

.money-box{background:#FFF;position:fixed;bottom:0;width:100%;height:2rem;box-sizing:border-box;padding:0 .1rem;}
.money-box h6{height:.3rem;line-height:.3rem;}
.money-box h6 button{float:right;background:#FA0;border-radius:.5rem;width:.2rem;height:.2rem;color:#FFF;border-width:0;margin:.05rem;
	font-size:.15rem;}
.money-box div {}
.money-box div button,.money-box div .button{cursor:pointer;height:.4rem;margin:.05rem .12rem;background:#FFF;color:#FA0;border:solid #DDD .01rem;
	width:.7rem;float:left;font-size:.16rem;line-height:.4rem;text-align: center;box-sizing: border-box;}
.money-box div .button-l{width:1.64rem;}
.money-box div .button input{width:.25rem;text-align:center;font-size:.16rem;color:#FA0;outline:none;}
.money-box div .c input{background:rgba(0,0,0,0);color:#FFF;border-color:rgba(0,0,0,0);}
.money-box div>*:nth-child(4n-3){margin-left:0;}
.money-box div>*:nth-child(4){margin-right:0;}
.money-box div>*:nth-child(7){margin-right:0;}
.money-box div .c{border-color:#FFF;color:#FFF;background:#FA0;}
.caring-btn{position:absolute;bottom:0;width:100%;height:.5rem;background:#FA0;color:#FFF;left:0;}